<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schools</title>
</head>
<body>
    <h1>Add schools</h1>
    <form method="Post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="Submit">Create School</button>
    </form>
    <div class="course_list">
        {% for school in schools %}
            <div class="container" style="border:2px solid blue; width: 500px; margin-top: 2rem; box-shadow: 0 0 5px blue">
            <p>{{ school.name }}<p/>
            <p>{{ school.address }}<p/>
            </div>
        {% endfor %}
    </div>
</body>
</html>
